/* Font */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
/* Resets */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #ccc;
    font-family: "Pixelify Sans", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* title */
.title {
    font-size: 2rem;
    text-align: center;
}

/* score */
.score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* board */




/* controls */


/* footer */